.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead {
        tr {
            background-color: #aaaaaa;
            color: #ffffff;
            text-align: left;
        }
    }

    th,
    td {
        padding: 25px 15px;
    }

    tbody {
        tr {
            &:hover {
                cursor: pointer;
                background: #d1d1d1;
            }
        }

        .active {
            background: #d1d1d1;
        }
    }
}
